#nav-bar {
  display: inline;
  top: 0%;
}

#nav-bar ul li{
  list-style: none;
  float: right;
  margin-right: 25px;
}

#nav-bar ul li a{
  text-decoration: none;
  color: black;
  
}

#header-img{
  float: left;
  width: 300px;
  height: 100%;
}

@media screen, print {
  .nav-link{
    display: flex;
  }
}
.nav-link{
    display: flex;
  }
#video {
  margin-top: 40px;
}

#header{
  display: flex;
  justify-content: space-between;
}